/* Estilo do cabeçalho */
header {
    background-color: #23272a; /* Cor de fundo escura */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

nav ul li {
    margin: 0 15px; /* Espaçamento entre os itens */
}

nav ul li a {
    text-decoration: none;
    color: #f4f4f9;
    font-size: 1.1em;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #a3d5ff; /* Cor do sublinhado */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

nav ul li a:hover {
    color: #a3d5ff; /* Cor do texto quando o mouse passa por cima */
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
